[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "==0.16.12"
tinydb = "==3.10.0"
click = "==6.7"
discord = "==0.0.2"
pymongo = "==3.7.1"
dnspython = "==1.15.0"
Pint = "==0.8.1"

[dev-packages]

[requires]
python_version = "3.6"
